* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(232, 236, 241);
	font-family: 'Rubik', sans-serif;
}

.content {
	margin: 0 auto;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3 {
	text-align: center;
	padding-top: 10px;
}

button {
	display: none;
}

.active {
	display: flex;
	border: 1px solid dodgerblue;
	border-radius: 8px;
	padding: 5px 10px;
	margin-top: 1%;
	color: #1e1eff;
}

.grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	align-items: center;
	height: 40%;
	width: 90%;
	padding: 3vh;
	grid-gap: 20px;
}

img {
	height: auto;
	width: 12vw;
	border: 1px solid dodgerblue;
	border-radius: 8px;
}

@media (max-width: 800px) {
	h3 {
		text-align: center;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	img {
		width: 15vw;
	}
}
